@using System.Globalization
@model Weather.Web.Models.ForecastModels.ViewModel

@{
    ViewData["Title"] = $"Погода в {Model.CurrentWeather.Name}";

    //var weatherTypeImg = @"http://openweathermap.org/img/wn/" + @Model.CurrentWeather.Weather.First().Icon + "@2x.png";
   var weatherTypeImg = @"/Icon/" + @Model.CurrentWeather.Weather.First().Icon + ".png";
        
}

<div class="container py-5 h-100" style="background: linear-gradient(219deg, #4e4204, #ffd4007a); border-radius: 25px;">

    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-7 col-xl-5" style="padding-right: 0px; padding-left: 0px; width: 44%;">
            
            <div class="card mb-4 gradient-custom" style="border-radius: 25px; background: linear-gradient(333deg, #ffffff3d, #dcdbe5);">
                <div class="card-body p-4">
                    <p class="text-muted mb-0" style="font-size :3rem;">@(Model.CurrentWeather.Name)</p>
                    <div id="weather1" class="carousel slide" data-ride="carousel">
                      
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-between mb-4 pb-2" style="width: 450px; height: 150px;">
                                    <div style="height: 150px; width: 204px ;line-height: 1.1">
                                      
                                        <div style="font-size: 3.3rem;"><strong>@(Model.CurrentWeather.Main.Temp)°C</strong></div>
                                        <p style="padding-top: 25px;">Ощущается как @(Model.CurrentWeather.Main.FleelsLike)°C</p>
                                        <p>Ветер: @(Model.CurrentWeather.Wind.Speed)м/с</p>
                                        <p>Влажность @(Model.CurrentWeather.Main.Humidity)% </p>
                                        
                                        
                                    </div>
                                    <div>
                                        <img src="@(weatherTypeImg)" width="150px" />
                                        <p style="font-weight: 600; font-size: 1.1rem">@(Model.CurrentWeather.Weather.First().Description) </p>
                                        
                                    </div>

                                   
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                    
                </div>
                
               
            </div>

            <div class="card mb-4" style="border-radius: 25px; background: linear-gradient(145deg, #ffffff3d, #acabaf);">
                <div class="card-body p-6">

                    @foreach (var day in Model.Forecasts.ToLookup(x => x.Date.Day))
                    {
                        <h4>@(day.First().Date.ToString("dddd, dd MMMM"))</h4>
                        <div class="carousel-inner" style="border: 3px solid; border-style: solid; border-radius: 15px; padding-left: 10px">
                            <div class="carousel-item active">
                                <div class="d-flex text-center mb-4 pb-3 pt-2">
                                    @foreach (var hour in day)
                                    {
                                        <div class="flex-column" style="width: 70px;">
                                            <p class="small"><strong>@Math.Round(hour.Main.Temp, 1)°C</strong></p>
                                          <img src="@("/Icon/" + hour.Weather.First().Icon + ".png")" width="55px" />  
                                         @*   <img src="@("http://openweathermap.org/img/wn/" + hour.Weather.First().Icon + "@2x.png")" width="55px" />*@
                                            <p class="mb-0"><strong>@(hour.Date.ToString("HH:mm"))</strong></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div> 

        </div>

    </div>
</div>

    </div>
